.addProduct-container {
    height: 100%;
    width: 30%;
    background-color: rgba(145, 163, 9, 0.933);
}
.signin-col {
    height: 50%;
    display:  flex;
    justify-content: center;
    align-items: center;
}
form {
    height: 100%;
    box-shadow: 0 0 10px #000000;
    padding: 10px 5px;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 5px;
    height: 35px;
    display: flex;
    flex-direction: column;
}